@import '../../scss/_variables';

.meals{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 1.5rem;

    font-family: $primaryFont;


    .meals__title{
        font-size: 1.5rem;

    }
    
    .meals__date{
        margin-top: 20px;
        font-family: $primaryFont;
        font-size: 2rem;
        color: $secondColor;
        text-align: center;
    }

    .news__menu{
        width: 100%;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        background-color: rgba($firstColor, 0.7);
        border-radius: 10px;

        margin-top: 30px;
        margin-bottom: 30px;
        
        

        .news__menu-title{
            flex-basis: 100%;
            text-align: center;
            color: white;
            font-size: 1.5rem;
            font-weight: 400;
            margin-bottom: 20px;
        }
        .news__meal{
            flex-basis: 100%;
            margin-bottom: 20px;
            text-align: center;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            
            @media(min-width: 570px){
                flex-basis: 45%;
            }


            @media(min-width: 1024px){
                flex-basis: 25%;
            }

            .news__name{
                width: 100%;
                color: white;
                align-self: flex-end;
            }

            .news__content{
                width: 100%;
            }
        }
    }
}