@import '../../scss/_variables';

.advertisements{
    font-family: $primaryFont;
    .advertisements__title{
        margin-bottom: 50px;
    }


    .advertisements__advertisements{
        width: 90%;
        max-width: 1280px;
        margin: 0 auto;
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
        

        .news__adv{
            flex-basis: 320px;
            margin-bottom: 50px;
            

            
            position: relative;

            font-size: 1.5rem;
            text-align: center;

            border: 2px solid $secondColor;
            border-top: 20px solid lighten($secondColor, 10%);
            border-radius: 20px;
            text-align: left;
            background-color: #EEEEEE;
            overflow: hidden;

            

            display: flex;
            flex-wrap: wrap;
            justify-content: left;
            align-content: flex-start;
            
            @media(min-width: 690px){
                flex-basis: 100%;
              // max-height: 290px;
            }

            .news__date{
                flex-basis: 100%;
                line-height: 15px;
                padding-left: 20px;
                height: 20px;
    

                font-family: $secondaryFont;
                color: white;

                background-color: lighten($secondColor, 10%);
             

            }

            .news__media{
                flex-basis: 320px;
                text-align: left;
                height: 240px;
                background-color: white;

                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                background-image: url('../../../public/images/przedszkole_logo2.svg');

                @media(min-width: 690px){
                    flex-basis: 240px;
                }
            }

            .news__content{
                display: flex;
                flex-basis: 100%;
                flex-wrap: wrap;
                justify-content: center;
                

                @media(min-width: 690px){
                    flex-basis: calc(100% - 320px);
                    //max-height: 290px;
                }


                .news__title{
                    margin-top: 20px;
                    flex-basis: 100%;
                    text-align: center;
                }
    
                .news__text{
                    flex-basis: 100%;
                    margin-bottom: 30px;
                    padding: 20px;
                    align-self: stretch;
    
                    font-size: 1.5rem;
                }

                .news__link{
    
                    background-color: $secondColor;
                    font-family: $secondaryFont;
                    color: white;
                    height: 25px;
                    line-height: 25px;
                    border-radius: 20px;
                    padding: 0px 12px;
                  
                    text-decoration: none;
                    cursor: pointer;
    
                    margin-bottom: 20px;
                }

            }

        

   

      

        }
    }
}