@import '../../scss/virables';

.hangman{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &__result{
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        

      
    }

    &__image{  
        width: 10%;
        opacity: 0.2;

        &--active{
            width: 10%;
            opacity: 1;
        }
    }

    &__word{
        flex-basis: 80%;
        margin: 50px auto 0;
        border: 4px solid black;
        font-size: 50px;
        text-align: center;
        line-height: 100px;
        height: 100px;
        font-family: $secondaryFont;
        text-transform: uppercase;
        letter-spacing: 6px;
    }


    &__category{
        flex-basis: 100%;
        text-transform: uppercase;
        font-family: $secondaryFont;
        font-size: 25px;
        margin: 30px auto 80px;
        text-align: center;

    }

    &__keyboard{
        flex-basis: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(11, 40px);
        grid-template-rows: repeat(3, 40px);
        justify-content: center;
        gap: 10px;



    }

    &__keyboard-letter{
        width: 40px;
        background-color: $primaryColor;
        line-height: 40px;
        font-family: $primaryFont;
        text-transform: uppercase;
        font-size: 20px;
        text-align: center;
        color: white;
        cursor: pointer;
        border: none;

        &:disabled{
            opacity: 0.3;
        }
    }

    &__button{
        margin-top: 50px;
        flex-basis: 200px;
        height: 50px;
        font-family: $secondaryFont;
        font-size: 20px;
        text-transform: uppercase;
        color: white;
        background-color: $primaryColor;
        cursor: pointer;
        border: none;

    }
}