@import '../../scss/_variables';


.navigation{
    position: absolute;
    top: 100%;
    left: -100%;
    width: 70%;

    padding-left: 20px;

    transition: transform 0.5s;
    background-color: #eeeeee;
    z-index: 10;

    &-active{
        transform: translateX(143%);
    }

    @media(min-width: 1024px){
        position: static;
        width: 50%;
        padding-left: 0;
    }

    .navigation__list{
        list-style: none;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @media(min-width: 1024px){
            flex-direction: row;
            height: 100%;
            align-items: center;
    
        }


        .navigation__listItem{
            //text-align: center;
            font-size: 2rem;
            margin-bottom: 20px;
            .navigation__link{
                padding-left: 20px;
                font-family: $secondaryFont;
                color: $firstColor;
                text-decoration: none;
            }

            .navigation__link-container{
                position: relative;

                .navigation__sublinks{
                    background-color: #eeeeee;
                    
                   
                    @media(min-width: 1024px){
                        position: absolute;
                        left: 0;
                        top: 100%;
                    
                        width: 150px;
                        padding-bottom: 20px;
                    }
                    .navigation__link{
                        margin-top: 10px;
                        margin-left: 30px;
    
                        font-size: 18px;
                        display: none;
    
                        @media(min-width: 1024px){
                            margin-left: 0;
                            margin-top: 30px;
                            
                         
    
                        }
                    }

                }
            
                &:hover{

                    .navigation__sublinks{
            
                        .navigation__link{
                            display: block;
                        }

                    }
                    
                }

            }
        }
    }
}