@import '../../scss/_variables';


.staff{
    max-width: 1280px;
    margin: 0 auto ;
    padding: 0 20px;

    
 

    font-size: 1.5rem;
    font-family: $primaryFont;
   
    .staff__title{     
        flex-basis: 100%;
        margin-bottom: 40px;
    }

    .staff__group{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        

        .staff__group-title{
            flex-basis: 100%;
            margin-top: 50px;
            margin-bottom: 20px;
            font-family: $primaryFont;
            font-size: 2rem;
            color: $secondColor;
            flex-basis: 100%;

            text-align: left;
            
    
            &::before{
                content:"a";
                height: 20px;
                width: 20px;
                margin-right: 10px;
                background-color: $secondColor;
            }
        }
        .staff__member{
            flex-basis: 300px;
            height: 400px;
    
            border: 2px $firstColor solid;
            border-radius: 20px;
            margin-bottom: 50px;
            margin-right: 40px;
    
            position: relative;
    
            text-align: center;
    
    
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('../../../public/images/woman.svg');
    
            .staff__data{
                width: 80%;
                height: 15%;
    
                position: absolute;
                top: 80%;
                right: 0;
    
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
                color: white;
              
                background-color: $firstColor;
    
                display: flex;
                flex-direction: column;
                justify-content: center;
    
                .staff__name{
                    color: white;
                    font-size: 2rem;
                }
    
                .staff__position{
                    color: white;
                }
    
               
            }
            .teacher{
                background-color: $secondColor;
            }
    
            .assistance{
                background-color: $thirdColor;
            }
    
            .other{
                background-color: $fourthColor;
            }
        }
    }

 
}