@import '../../scss/_variables';



.header{

    width: 100%;
    font-family: $primaryFont;
    font-size: 1.4rem;
    box-shadow: 2px 2px 8px;

    .header__infoWrapper{

        //background: linear-gradient(90deg, lighten($secondColor, 10%) 0%,$firstColor 50%, $fourthColor 100%);
        background-color: $firstColor;
        padding: 0 20px;
        
        .header__info{
            max-width: 1280px;
            margin: 0 auto;
          
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
    
            .header__contact{
                flex-basis: 100%;
                padding: 10px 0;;

                display: flex;
          
                text-decoration: none;
                cursor: pointer;

                @media(min-width: 600px){
                    flex-basis: 50%;
                }
                @media(min-width: 850px){
                    flex-basis: auto;
                    
                }
    
    
                &:nth-of-type(1){
                    .header__icon{
                        background-image: url("../../../public/images/phone__white.svg");
                    }    
                }
                &:nth-of-type(2){
                    .header__icon{
                        background-image: url("../../../public/images/mail__white.svg");
                    }  
                }
                &:nth-of-type(3){
                    .header__icon{
                        background-image: url("../../../public/images/location__white.svg");
                    }  
                }
                &:nth-of-type(4){
                    .header__icon{
                        background-image: url("../../../public/images/facebook__white.svg");
                    }  
                }
    
    
                .header__icon{
                    width: 15px;
                    height: 15px;
                    
                    background-repeat: no-repeat;
                    background-position: center;
                }
    
                .header__text{
                    margin-left: 10px;
                    color: white;
                }
            }
        }

    }

    .header__menu{
     
         background-color: #eeeeee;
         z-index: 10;

         @media(min-width: 1024px){
            background-color: #eeeeee;
        }

        &--fixed{
            position:fixed;
            top: 0;
            left:0;
            right:0;
            box-shadow: 2px 2px 8px;
        }

        

        .header__menu-wrapper{
            
            max-width: 1280px;
            margin: 0 auto;
            position: relative;

            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            

            .header__logo{
                height: 100px;
                flex-basis: 100%;
            
                background-image: url("../../../public/images/przedszkole_logo.svg");
                background-repeat: no-repeat;
                background-position: center;
            
                background-size: contain;

                @media(min-width: 1024px){
                    flex-basis: 25%;
                }
                &--invisible{
                    display: none;
                }

        }

            .header__login-button{
                margin-top: 20px;
                margin-bottom: 20px;
                margin-right: 20px;
                padding: 8px 10px;
            }
    
            .header__menu-button{
                width: 100px;
                padding: 8px 0;
                margin-left: 20px;
    
                font-size: 2rem;
                font-family: $secondaryFont;
                color: black;
                
                text-align: left;
    
                background-color: transparent;
                background-image: url("../../../public/images/menu.svg");
                background-repeat: no-repeat;
                background-position-y: center;
                background-position-x: 70px;
                background-size: 15px;
    
                border:none;
                
                cursor: pointer;

                &-active{
                    background-image: url("../../../public/images/arrowLeftBlack.svg");
                }

              

                @media(min-width: 1024px){
                    display: none;
                }


            }
    
            .header__link{
    
                flex-basis: 100%;
                margin-right: 20px;
                padding-bottom: 10px;
    
                text-decoration: none;
                color: $secondColor;
    
                text-align: right;
    
                cursor: pointer;
            }
        }

        
    }
}