@import '../../scss/_variables';


.mission{

    max-width: 1280px;
    margin: 0 auto ;
    padding: 0 20px;
    margin-bottom: 50px;

    font-size: 1.5rem;
    font-family: $primaryFont;
    

    .mission__title{
        visibility: visible;
    }
    .mission__subtitle{
        margin-top: 50px;
        font-family: $primaryFont;
        font-size: 2rem;
        color: $secondColor;
        flex-basis: 100%;

        text-align: left;

        &::before{
            content:"a";
            height: 20px;
            width: 20px;
            margin-right: 10px;
            background-color: $secondColor;
        
        }
    }
}