@import '../../scss/_variables';

.login{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;

    &::backdrop{
        backdrop-filter: blur(2px);
    }

    .login__background{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        filter: blur(1px);
        z-index: -1;
       
        background-color: rgba($color: $firstColor, $alpha: 0.9);
    }

    .login__title{
        flex-basis: 10%;
        align-self: center;
        justify-self:start;
       
        
        font-family: $secondaryFont;
        font-size: 3rem;
        color: white;
        
    }

    .login__form{
        flex-basis: 30%;
        width: 100%;
        max-width: 400px;
        

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .login__monit{
            text-align: center;
            flex-basis: 10%;
            color: red;
            font-size: 1.4rem;
        }

        .login__input{
            width: 80%;
            margin: 0 auto;
        }

        .login__button{
            padding: 10px 20px;
            outline: none;
        }
    }
    .login__close{
        margin-top: 20px;    
        padding: 10px 20px;
        outline: none;
     
    }
}