@import '../../../scss/_variables';

.groups{

    background-color: #eeeeee;

    .groups__wrapper{
        max-width: 1280px;
        margin: 0 auto ;
        padding: 0 20px;

        

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .groups__group{
            flex-basis: 98%;
            //padding: 20px;
            border: 2px solid;
            border-radius: 20px;
            margin-bottom: 50px;

            background-color: white;
            text-align: center;
            overflow: hidden;

            
            

            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: flex-start;

            @media(min-width: 570px){
                flex-basis: 45%;
            }


            @media(min-width: 1024px){
                flex-basis: 30%;
            }

            .groups__group-image{
                flex-basis: 100%;
                height: 200px;

                position: relative;
                
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url('../../../../public/images/sala.jpg');
            }

            .groups__group-name{
                width: 100%;
                height: 50px;
                margin: 30px auto;
                font-size: 25px;
                line-height: 50px;
                color: white;
                text-align: center;
            }

            .groups__group-teacherPhoto{
                width:120px;
                height: 120px;

                position: absolute;
                left: 5%; 
                bottom: 0;

                transform: translateY(20%);
              
                border-radius: 50%;

                background-color: white;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url('../../../../public/images/woman.svg');
            }

            .groups__info{
                flex-basis: 40%;
                height: 60px;

                display: flex;
                flex-direction: column;
                justify-content: flex-end;
               
                

                .groups__value{
                    font-size: 1.6rem;
                    margin-bottom: 8px;

                    
                }
                .groups__label{
                    color: darkgray;
                }

            }

            .groups__link{
                display: inline-block;
                margin: 20px auto;
               
                text-align: center;
    
                font-family: $secondaryFont;
                font-size: 2rem;
                text-decoration: none;
                color: white;
    
                border-radius: 20px;
    
                background-color: $secondColor;
                padding: 6px 12px;
    
                cursor: pointer;
            }

            &:nth-of-type(2){
                border-color: $firstColor;
                box-shadow: 2px 2px 10px  $firstColor ;
                .groups__group-name{
                    background-color: $firstColor;
                }
                .groups__link{
                    background-color: $firstColor;
                }
            }
            &:nth-of-type(3){
                border-color: $secondColor;
                box-shadow: 2px 2px 10px  $secondColor ;
                .groups__group-name{
                    background-color: $secondColor;
                }
                .groups__link{
                    background-color: $secondColor;
                }
            }
            &:nth-of-type(4){
                border-color: $fourthColor;
                box-shadow: 2px 2px 10px  $fourthColor ;
                .groups__group-name{
                    background-color: $fourthColor;
                }
                .groups__link{
                    background-color: $fourthColor;
                }
            }
            &:nth-of-type(5){
                border-color: $thirdColor;
                box-shadow: 2px 2px 10px  $thirdColor ;
                .groups__group-name{
                    background-color: $thirdColor;
                }
                .groups__link{
                    background-color: $thirdColor;
                }
            }
            &:nth-of-type(6){
                border-color: $firstColor;
                box-shadow: 2px 2px 10px  $firstColor ;
                .groups__group-name{
                    background-color: $firstColor;
                }
                .groups__link{
                    background-color: $firstColor;
                }
            }
        }
    }
}