@import '../../../scss/_variables';

.news{
  
   
    padding-top: 20px;
    .news__wrapper{
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 20px;
        font-size: 1.5rem;
    

        .news__menu{
            width: 100%;
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            background-color: rgba($firstColor, 0.7);
            border-radius: 10px;
    
            margin-bottom: 30px;
            
    
            .news__menu-title{
                flex-basis: 100%;
                text-align: center;
                color: white;
                font-size: 1.5rem;
                font-weight: 400;
                margin-bottom: 20px;
            }
            .news__meal{
                flex-basis: 100%;
                margin-bottom: 20px;
                text-align: center;
    
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
                
                @media(min-width: 570px){
                    flex-basis: 45%;
                }
    
    
                @media(min-width: 1024px){
                    flex-basis: 25%;
                }
    
                .news__name{
                    width: 100%;
                    color: white;
                    align-self: flex-end;
                }
    
                .news__content{
                    width: 100%;
                }
            }
        }
    
        .news__advertisements{
            width: 100%;
    
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            
            
    
            .news__adv{
                flex-basis: 320px;
                margin-bottom: 50px;
                

                
                position: relative;
    
                font-size: 1.5rem;
                text-align: center;
    
                border: 2px solid $secondColor;
                border-top: 20px solid lighten($secondColor, 10%);
                border-radius: 20px;
                text-align: left;
                background-color: #EEEEEE;
                overflow: hidden;
    
                
    
                display: flex;
                flex-wrap: wrap;
                justify-content: left;
                align-content: flex-start;
                
                @media(min-width: 690px){
                    flex-basis: 100%;
                  // max-height: 290px;
                }
    
                .news__date{
                    flex-basis: 100%;
                    line-height: 15px;
                    padding-left: 20px;
                    height: 20px;
        
    
                    font-family: $secondaryFont;
                    color: white;
    
                    background-color: lighten($secondColor, 10%);
                 
    
                }
    
                .news__media{
                    flex-basis: 3200px;
                    text-align: left;
                    height: 240px;
                    background-color: white;
                    
                   
                   
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    background-image: url('../../../../public/images/przedszkole_logo2.svg');

                    @media(min-width: 690px){
                        flex-basis: 240px;
                    }
                }

                .news__content{
                    display: flex;
                    flex-basis: 100%;
                    flex-wrap: wrap;
                    justify-content: center;
                    

                    @media(min-width: 690px){
                        flex-basis: calc(100% - 320px);
                        //max-height: 290px;
                    }


                    .news__title{
                        margin-top: 20px;
                        flex-basis: 100%;
                        text-align: center;
                    }
        
                    .news__text{
                        flex-basis: 100%;
                        margin-bottom: 30px;
                        padding: 20px;
                        align-self: stretch;
        
                        font-size: 1.5rem;
                    }

                    .news__link{
        
                        background-color: $secondColor;
                        font-family: $secondaryFont;
                        color: white;
                        height: 25px;
                        line-height: 25px;
                        border-radius: 20px;
                        padding: 0px 12px;
                      
                        text-decoration: none;
                        cursor: pointer;
        
                        margin-bottom: 20px;
                    }

                }
    
            
    
       
    
          
    
            }
    
        }

    }

    
}