@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

$primaryFont : 'Lato', sans-serif;
$secondaryFont: 'Nova Square', cursive;
$primaryColor: #c0c0c0;
$primaryColorDark: darken($primaryColor, 30%);
$alarmColor: #f80000;




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.saper{
    background-color: $primaryColor;
    padding: 10px;
    width: auto;
    margin: 0 auto;
    &--easy{
        max-width: 306px;
    }

    &--medium{
        max-width: 586px;
    }

    &--expert{
        max-width: 1076px;
    }

    &__header{
        display:flex;
        justify-content: space-between;
        padding: 8px;
        

        .saper__counter{
            background-color: black;
            color: $alarmColor;
            padding: 0 5px;
            font-family: $secondaryFont;
            font-size: 45px;
            width: 100px;
            height: 50px;
            text-align: right; 
        }

        .saper__reset{
            background-color: $primaryColor;
            width: 50px;
            height: 50px;
            &-button{
                width: 100%;
                height: 100%;
               
                cursor: pointer;
            }
        }
    }
    &__board{
        display: flex;
        flex-wrap: wrap;

        .saper__cell{
            
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-repeat: no-repeat;
            background-size: 20px;
            background-position: center;
            font-size: 25px;
            font-family: $primaryFont;
            text-align: center;
            line-height: 35px;

            &--flag{
                background-image: url('../../../public/images/Saper/flag.svg');
            }
            &--bomb{
                background-image: url('../../../public/images/Saper/bomb.svg');
                background-color: $alarmColor;
            }
            &--info-1{
                color: #0200fc;
            }
            &--info-2{
                color: #017e00;
            }
            &--info-3{
                color: #ff0000;
            }
            &--info-4{
                color: #010080;
            }
            &--info-5{
                color: #7f0300;
            }
            &--info-6{
                color: #008080;
            }
            &--info-7{
                color: #000000;
            }
            &--info-8{
                color: #808080 ;
            }
        }
    }


    &__panel{

        &-header{
            text-align: center;
            font-family: $primaryFont;
        }

        .saper__buttons{
            display: flex;

            .saper__button{
                flex: 1;
                padding: 5px;
                font-size: 20px;
                cursor: pointer;
            }
        }
    }

    &__modal{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:rgba(0,0,0,0.8);

        &--hide{
            visibility: hidden;
        }

        &-content{
            padding: 30px;
            width:50%;
            height: 50%;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

        }

        &-text{
            font-size: 50px;
            font-family: $primaryFont;
            text-align: center; 
        }

        &-button{
            cursor: pointer;
            background-color: transparent;
            color: black;
            border: 3px solid black;
            padding: 10px 15px;
            font-size: 25px;

            &:hover{
                background-color: black;
                color: white;
                border-color: black;
                transition: 0.5s;
            }

        }
    }
    &__border{

        border: 3px solid;
    
        &--convex{
            border-color: $primaryColorDark white white $primaryColorDark;
        }
    
        &--concave{
            border-color: white $primaryColorDark $primaryColorDark white;
        }
        &--revealed{
            border: 1px $primaryColorDark solid;
        }
    
    }

}



