@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@300;400;700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Averia Sans Libre', cursive;
$thirdFont: 'Fredoka One', cursive;

$firstColor: #673Ab7;
$secondColor: #EE2A7B;
$thirdColor: #70D151;
$fourthColor:#18C1E4

