@import '../../scss/_variables';
.group{

    .group__title{
        visibility: visible;
    }
 
    .group__picture{
        position: relative;
        height: 300px;
        background-image: url('../../../public/images/sala.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;

        

        &::before{
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(90deg, transparent, white);
        }

        @media(min-width : 1024px){
            height: 500px;
        }
        
        .group__picture-wrapper{
            max-width: 1280px;
            margin: 0 auto ;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            .group__name{
                position: absolute;
    
                top: 50%;
                left: 60%;
    
                
                transform: translate(-50%, -50%);
    
                font-family: $thirdFont;
                font-size: 4rem;
                    
                margin-bottom: 40px;
                text-align: left;
                font-weight: 400;
    
                @media(min-width: 1024px){
                    font-size: 7rem;
                    line-height: 75px;
                }
            }
    
            .group__teacher-picture{
                    width:120px;
                    height: 120px;
    
                    position: absolute;
                    left: 5%; 
                    bottom: 0;
    
                    transform: translateY(20%);
                  
                    border-radius: 50%;
    
                    background-color: white;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: url('../../../public/images/woman.svg');
    
                    @media(min-width : 1024px){
                        width:200px;
                        height: 200px;
                    }
            }
        }

        
        
    }
    .group__info{
        height: 150px;
        font-size: 2.5rem;
        font-family: $secondaryFont;
        font-weight: bold;
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        .group__teacher{
            color: $firstColor;
        }   
    }

    .group__links{
        display: flex;
        justify-content: center;
        
        .group__link{

            flex-basis: 30%;

            text-decoration: none;
            cursor: pointer;
        }
    }



}